<div class="row">
  <div class="col-lg-8">
    <form class="form-horizontal" #form="ngForm" (submit)="addNewStudent()">
      <nb-card size="large">
        <nb-card-header>Add new student</nb-card-header>
        <nb-card-body>

          <div class="form-group row">
            <label for="student-name" class="label col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input nbInput fullWidth id="student-name" placeholder="Name" name="name"
                     #name="ngModel"
                     [(ngModel)]="templateForNewStudent.name"
                     [required]="'Name required'"
                     [attr.aria-invalid]="name.invalid && name.touched ? true : null"
                     [status]="!name.touched? 'primary' : name.invalid?'danger' : 'success'">
              <ng-container *ngIf="name.invalid && name.touched">
                <p class="caption status-danger" *ngIf="name.errors?.required">
                  Name is required!
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="student-nic" class="label col-sm-3 col-form-label">NIC</label>
            <div class="col-sm-9">
              <input nbInput fullWidth id="student-nic" placeholder="NIC" name="nic"
                     #nic="ngModel"
                     [(ngModel)]="templateForNewStudent.nic"
                     [required]="'NIC required'"
                     [pattern]="'^[0-9-]{11}$'"
                     [attr.aria-invalid]="nic.invalid && nic.touched ? true : null"
                     [status]="!nic.touched? 'primary' : nic.invalid?'danger' : 'success'">
              <ng-container *ngIf="nic.invalid && nic.touched">
                <p class="caption status-danger" *ngIf="nic.errors?.required">
                  NIC is required!
                </p>
                <p class="caption status-danger" *ngIf="nic.errors?.pattern">
                  Invalid NIC! Should contain 11 digits
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="student-contact" class="label col-sm-3 col-form-label">Contact</label>
            <div class="col-sm-9">
              <input nbInput fullWidth id="student-contact" placeholder="Contact" name="contact"
                     #contact="ngModel"
                     [(ngModel)]="templateForNewStudent.contact"
                     [required]="'Contact required'"
                     [pattern]="'^[0-9-]{10}$'"
                     [attr.aria-invalid]="contact.invalid && contact.touched ? true : null"
                     [status]="!contact.touched? 'primary' : contact.invalid?'danger' : 'success'">
              <ng-container *ngIf="contact.invalid && contact.touched">
                <p class="caption status-danger" *ngIf="contact.errors?.required">
                  Contact is required!
                </p>
                <p class="caption status-danger" *ngIf="contact.errors?.pattern">
                  Invalid contact! Should contain 10 digits
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="student-id" class="label col-sm-3 col-form-label">Student ID</label>
            <div class="col-sm-9">
              <input nbInput fullWidth id="student-id" placeholder="Scan the card" name="student-id"
                     #studentId="ngModel"
                     [(ngModel)]="templateForNewStudent.studentId"
                     [required]="'Contact required'"
                     [pattern]="'^[0-9-]{10}$'"
                     [attr.aria-invalid]="studentId.invalid && studentId.touched ? true : null"
                     [status]="!studentId.touched? 'primary' : studentId.invalid?'danger' : 'success'">
              <ng-container *ngIf="studentId.invalid && studentId.touched">
                <p class="caption status-danger" *ngIf="studentId.errors?.required">
                  Student ID is required!
                </p>
                <p class="caption status-danger" *ngIf="studentId.errors?.pattern">
                  Invalid ID! Should contain 10 digits
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="student-address" class="label col-sm-3 col-form-label">Address</label>
            <div class="col-sm-9">
              <input nbInput fullWidth id="student-address" placeholder="Address" name="address"
                     [(ngModel)]="templateForNewStudent.address">
            </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label">Gender</label>
            <div class="col-sm-9">
              <nb-select selected="M" name="gender" [(ngModel)]="templateForNewStudent.gender">
                <nb-option value="M">Male</nb-option>
                <nb-option value="F">Female</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="student-birthday" class="label col-sm-3 col-form-label">Birthday</label>
            <div class="col-sm-9">
              <input nbInput fullWidth id="student-birthday" placeholder="Birthday" name="birthday"
                     [(ngModel)]="templateForNewStudent.birthday"
                     [nbDatepicker]="birthdayPicker">
              <nb-datepicker #birthdayPicker></nb-datepicker>
            </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label">School</label>
            <div class="col-sm-9">
              <nb-select name="school" [selected]="allSchools && allSchools[0] ? allSchools[0] : null"
                         [(ngModel)]="templateForNewStudent.school" class="half">
                <nb-option *ngFor="let school of allSchools" [value]="school">{{school?.name}}</nb-option>
              </nb-select>
              <button nbButton ghost status="success" size="medium" type="button" (click)="requestNewSchool()">
                New School
              </button>
            </div>
          </div>
          <div class="form-group row">
            <label for="student-remark" class="label col-sm-3 col-form-label">Remark</label>
            <div class="col-sm-9">
              <input nbInput fullWidth id="student-remark" placeholder="Remark" name="remark"
                     [(ngModel)]="templateForNewStudent.remark">
            </div>
          </div>

        </nb-card-body>
        <nb-card-footer>
          <button class="float-right" nbButton size="small" hero status="success" type="submit"
                  [disabled]="!form.valid">Add student
          </button>
        </nb-card-footer>
      </nb-card>
    </form>
  </div>
</div>
