<form class="form-horizontal" #form="ngForm" (submit)="newSchool()">
  <nb-card>
    <nb-card-header>
      New School
    </nb-card-header>
    <nb-card-body>

      <div class="form-group row">
        <label for="school-name" class="label col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input nbInput fullWidth id="school-name" placeholder="Name" name="name"
                 #name="ngModel"
                 [(ngModel)]="templateForNewSchool.name"
                 [required]="'Name required'"
                 [attr.aria-invalid]="name.invalid && name.touched ? true : null"
                 [status]="!name.touched? 'primary' : name.invalid?'danger' : 'success'">
          <ng-container *ngIf="name.invalid && name.touched">
            <p class="caption status-danger" *ngIf="name.errors?.required">
              Name is required!
            </p>
          </ng-container>
        </div>
      </div>
      <div class="form-group row">
        <label for="category" class="label col-sm-3 col-form-label">Category</label>
        <div class="col-sm-9">
          <input nbInput fullWidth id="category" placeholder="Category" name="category"
                 [(ngModel)]="templateForNewSchool.category">
        </div>
      </div>
      <div class="form-group row">
        <label for="contact" class="label col-sm-3 col-form-label">Contact</label>
        <div class="col-sm-9">
          <input nbInput fullWidth id="contact" placeholder="contact" name="contact"
                 [(ngModel)]="templateForNewSchool.contact">
        </div>
      </div>
      <div class="form-group row">
        <label for="address" class="label col-sm-3 col-form-label">Address</label>
        <div class="col-sm-9">
          <input nbInput fullWidth id="address" placeholder="Address" name="address"
                 [(ngModel)]="templateForNewSchool.address">
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer>
      <button nbButton hero class="float-right" status="success" size="small" type="submit"
              [disabled]="!form.valid">Add
      </button>
      <button nbButton hero class="float-right right-gap" status="danger" size="small" type="button" (click)="cancel()">
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</form>
