<form #form="ngForm" (submit)="addEnrollment()">
  <nb-card>
    <nb-card-header>Add enrollment</nb-card-header>
    <nb-card-body>

      <div class="form-group row">
        <label for="remark" class="label col-sm-3 col-form-label">Remark</label>
        <div class="col-sm-9">
          <input nbInput fullWidth id="remark" placeholder="Remark" name="remark"
                 [(ngModel)]="templateForNewEnrollment.remark">
        </div>
      </div>
      <div class="form-group row">
        <label for="remark" class="label col-sm-3 col-form-label">Card Type</label>
        <div class="col-sm-9">
          <nb-radio-group disabled [(ngModel)]="templateForNewEnrollment.cardType" [value]="'Paid'">
            <nb-radio *ngFor="let cardType of cardTypes" [value]="cardType">{{cardType}}</nb-radio>
          </nb-radio-group>
        </div>
      </div>
      <div class="form-group row">
        <label for="fee" class="label col-sm-3 col-form-label">Fee</label>
        <div class="col-sm-9">
          <input nbInput fullWidth id="fee" placeholder="Fee" name="fee"
                 [(ngModel)]="templateForNewEnrollment.fee">
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer>
      <button nbButton hero class="float-right" status="success" type="submit" size="small">Add</button>
      <button nbButton hero class="float-right right-gap" status="danger" type="button" size="small"
              (click)="cancel()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</form>
