<div class="row">
  <div class="col-md-6">

    <div class="row">

      <div class="col-sm-6">
        <nb-card size="tiny">
          <nb-card-body>
            <h5>File manager</h5>
            <label class="label">You can connect data files from here</label>
          </nb-card-body>
          <nb-card-footer>
            <button nbButton ghost>
              <img height="25" src="https://firebasestorage.googleapis.com/v0/b/drive-assets.google.com.a.appspot.com/o/Asset%20-%20Drive%20Lockup%20-%20with%20gray%20Google.svg?alt=media" alt="Google drive">
            </button>
          </nb-card-footer>
        </nb-card>
      </div>

      <div class="col-sm-6">
        <nb-card size="tiny">
          <nb-card-body>
            <h5>Parameters</h5>
            <label class="label">Manage features and other parameters</label>
          </nb-card-body>
        </nb-card>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        <nb-card size="small">
          <nb-card-body>
            <h5>Binned percentages</h5>
            <ngx-binned-percentage-chart></ngx-binned-percentage-chart>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <nb-card size="large">
      <nb-card-body>
        <h5>Number of binned contigs</h5>
        <ngx-no-of-binned-contigs-cart></ngx-no-of-binned-contigs-cart>
      </nb-card-body>
    </nb-card>
  </div>
</div>

