<div class="row">
  <div class="col-md-6">

    <div class="row">

      <div class="col-sm-6">
        <nb-card size="tiny">
          <nb-card-body>
            <h5>File manager</h5>
            <label class="label">You can connect data files from here</label>
          </nb-card-body>
          <nb-card-footer>
            <button hidden nbButton ghost size="tiny">
              <img height="25" src="https://firebasestorage.googleapis.com/v0/b/drive-assets.google.com.a.appspot.com/o/Asset%20-%20Drive%20Lockup%20-%20with%20gray%20Google.svg?alt=media" alt="Google drive">
            </button>
            <button hidden nbButton ghost status="info" size="tiny" (click)="openFileUploadBox()">
              <nb-icon icon="upload-outline"></nb-icon>
              Upload
            </button>
            <button nbButton ghost status="info" size="tiny" (click)="openFileViewer()">
              <nb-icon icon="file-outline"></nb-icon>
              Files
            </button>
          </nb-card-footer>
        </nb-card>
      </div>

      <div class="col-sm-6">
        <nb-card size="tiny">
          <nb-card-body>
            <h5>Parameters</h5>
            <label class="label">Manage features and other parameters</label>
            <p>{{executionResult}}</p>
          </nb-card-body>
          <nb-card-footer [nbSpinner]="processLoading">
            <button nbButton ghost status="info" size="tiny" (click)="openProcessStarter()">
              <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
              Start a binning process
            </button>
            <button nbButton ghost status="info" size="tiny" class="float-right" (click)="runExecution()">
              <nb-icon icon="arrow-right-outline"></nb-icon>
              Run
            </button>
          </nb-card-footer>
        </nb-card>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        <nb-card size="small" [nbSpinner]="processLoading">
          <nb-card-body>
            <h5>Binned percentages</h5>
            <ngx-binned-percentage-chart></ngx-binned-percentage-chart>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <nb-card size="large" [nbSpinner]="processLoading">
      <nb-card-body>
        <h5>Number of binned contigs</h5>
        <ngx-no-of-binned-contigs-cart></ngx-no-of-binned-contigs-cart>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #uploadBox let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Upload Files
    </nb-card-header>
    <nb-card-body>
      <div class="form-group row">
        <div class="col-sm-3">
          <label class="col-form-label label">Select File</label>
        </div>
        <div class="col-sm-9">
          <input fullWidth nbInput type="file" [(ngModel)]="fileToUpload">
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton hero class="float-right" status="success" size="small" (click)="uploadFile()">Upload</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #fileViewer let-ref="dialogRef">
  <ngx-file-structure-viewer [fileStructure]="fileStructure" [fileSelectorDialog]="ref"></ngx-file-structure-viewer>
</ng-template>

<ng-template #fileSelector let-ref="dialogRef">
  <nb-card size="medium" style="width: 500px;max-width: 100%">
    <nb-card-header>
      File viewer
    </nb-card-header>
    <nb-card-body>
      <div class="row" *ngFor="let file of filesList" hidden>
        <nb-checkbox>{{file.name}}</nb-checkbox>
      </div>
      <ngx-file-structure-viewer [fileStructure]="fileStructure" [fileSelectorDialog]="ref">
      </ngx-file-structure-viewer>
    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>
  </nb-card>
</ng-template>


<ng-template #processStarter let-ref="dialogRef">
  <nb-card style="width: 500px;max-width: 100%">
    <nb-card-header>
      Select data files to start process
    </nb-card-header>
    <nb-card-body>

      <div class="form-group row">
        <div class="col-sm-3">
          <label class="col-form-label label">Dataset</label>
        </div>
        <div class="col-sm-9">
          <input fullWidth nbInput [(ngModel)]="executionRequest.dataset">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <label class="col-form-label label">Input File 1</label>
        </div>
        <div class="col-sm-9">
          <button nbButton ghost status="success" (click)="selectFile1(executionRequest.inputFile1)">
            {{executionRequest.inputFile1? executionRequest.inputFile1.name :
              'Select Input File 1'}}</button>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <label class="col-form-label label">Input File 2</label>
        </div>
        <div class="col-sm-9">
          <button nbButton ghost status="success" (click)="selectFile2(executionRequest.inputFile2)">
            {{executionRequest.inputFile2? executionRequest.inputFile2.name :
              'Select Input File 2'}}</button>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <label class="col-form-label label">Input File 3</label>
        </div>
        <div class="col-sm-9">
          <button nbButton ghost status="success" (click)="selectFile3(executionRequest.inputFile3)">
            {{executionRequest.inputFile3? executionRequest.inputFile3.name :
              'Select Input File 3'}}</button>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <label class="col-form-label label">Input File 4</label>
        </div>
        <div class="col-sm-9">
          <button nbButton ghost status="success" (click)="selectFile4(executionRequest.inputFile4)">
            {{executionRequest.inputFile4? executionRequest.inputFile4.name :
              'Select Input File 4'}}</button>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <label class="col-form-label label">Input File 5</label>
        </div>
        <div class="col-sm-9">
          <button nbButton ghost status="success" (click)="selectFile5(executionRequest.inputFile5)">
            {{executionRequest.inputFile5? executionRequest.inputFile5.name :
              'Select Input File 5'}}</button>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <label class="col-form-label label">Input File 6</label>
        </div>
        <div class="col-sm-9">
          <button nbButton ghost status="success" (click)="selectFile6(executionRequest.inputFile6)">
            {{executionRequest.inputFile6? executionRequest.inputFile6.name :
              'Select Input File 6'}}</button>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <label class="col-form-label label">Input File 7</label>
        </div>
        <div class="col-sm-9">
          <button nbButton ghost status="success" (click)="selectFile7(executionRequest.inputFile7)">
            {{executionRequest.inputFile7? executionRequest.inputFile7.name :
              'Select Input File 6'}}</button>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <label class="col-form-label label">Output File</label>
        </div>
        <div class="col-sm-9">
          <input fullWidth nbInput [(ngModel)]="executionRequest.outputFile.name">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          <label class="col-form-label label">eMail address to send result</label>
        </div>
        <div class="col-sm-9">
          <input fullWidth nbInput [(ngModel)]="executionRequest.emailAddress">
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer>
      <button nbButton hero class="float-right" status="success" size="small" (click)="uploadFile()">OK</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
